.NavBar {
  background-color: #ffffff;
  border: 1px solid black;
}

.Active {
  background-color: #dddcdc;
  font-weight: bolder;
  border-radius: 7%;
  color: black;
}

a:hover {
  font-weight: 600;
  color: black;
}

.NavLink {
  padding: 10px;
  color: black;
}